﻿@using Knjizara2.Models
@model IEnumerable<Book>

@{
                ViewBag.Title = "Deleted";
}

<h1>List of deleted books :</h1>
<table border="1">
    <tr><th>Id</th><th>Name</th><th>Price</th><th>Genre</th></tr>
    @foreach (Book b in Model)
    {
        if (b.Deleted)
        {
            <tr>
                <td> @b.Id</td>
                <td> @b.Name</td>
                <td> @b.Price</td>
                <td> @b.Genre</td>
            </tr>
        }
    }
</table>
<a href="/Bookstore/Index">Homepage</a>
