﻿
@{
    ViewBag.Title = "Index";
}
<hr />
<h1>Bookstore - Home page:</h1>
<hr />
<form method="get" action="/Bookstore/AddBook">
    <table border="1">
        <tr><th colspan="2" align="justify">Add new book</th></tr>
        <tr><th align="left"> Name of book:</th><td><input type="text" required name="NameOfBook" /></td></tr>
        <tr><th align="left"> Price of book:</th><td><input type="number" required name="PriceOfBook" /></td></tr>
        <tr>
            <th align="left"> Genre of book:</th>
            <td>
                <select name="GenreOfBook">
                    <option value="Science"> Science </option>
                    <option value="Comedy">Comedy</option>
                    <option value="Horror">Horror</option>
                </select>
            </td>
        </tr>
        <tr><th colspan="2" align="right"><input type="submit" value="Add" /></th></tr>

    </table>
</form>
<a href="/Bookstore/List">Show all books / </a> 
<a href="/Bookstore/Deleted">Show deleted books</a>
