﻿@using Knjizara2.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "List";
}

<h1>List of books:</h1>
<table border="1">
    <tr><th>Id</th><th>Name</th><th>Price</th><th>Genre</th></tr>
    @foreach (var b in Model)
    {
        if (!b.Deleted)
        {
            <tr>
                <td> @b.Id</td>
                <td> @b.Name</td>
                <td> @b.Price</td>
                <td> @b.Genre</td>
                <td><a href="/Bookstore/Delete?id=@b.Id">delete </a></td>
            </tr>
        }
    }
</table>
<a href="/Bookstore/Index">Homepage</a>

